@import "/src/app/core/main-style.scss";

img {
  border-radius: 50%;
  transition: all 400ms;
  &:hover {
    transform: translate(5px, 5px);
    box-shadow: 2px 2px 20px 0px $shadow;
  }
}
.ViewBtn {
  background-color: $denim;
  color: white;
}
.delBtn {
  background-color: $orchid;
  color: white;
}
