<div class="wrapper d-flex justify-content-center align-items-center mt-2">
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Users List</h5>
      <h6 class="card-subtitle mb-2 text-muted">This is a full users list</h6>
      <ul class="list-group">
        <li
          *ngFor="let user of usersArray; let i = index"
          class="list-group-item"
        >
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <img
                [src]="user.avatar"
                alt="{{ user.first_name }} profile picture"
              />
              <span class="lead mx-2">
                {{ user.first_name }} {{ user.last_name }}
              </span>
            </div>

            <div class="d-flex mt-2">
              <button
                type="button"
                [routerLink]="['../profile', user.id]"
                class="btn ViewBtn mx-2"
              >
                View Profile
              </button>
              <button
                (click)="confirmationMessage(user.id)"
                type="button"
                class="btn delBtn"
              >
                🗑️
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
